*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color:rgb(181, 221, 237); */
    background-image: url('photo-1616441065120-81e9e146d3ef.jpeg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:100% 108%;
}  
h4{
    width: 50px;
    font-family: 'Rubik Dirt', cursive;
    color: sienna;

}
h2{
    margin-left:50%;
    margin-top: 40px;
    color: azure;
}
#heading{
     margin-bottom:50px;
     max-height: 100px;
     text-align: center;
     color:whitesmoke;
     font-size:70px;
     font-family: 'Rubik Distressed', cursive;;
     position: relative;
     animation-duration: 5s;
     animation-iteration-count:initial;
     animation-name: portfolio;
}
@keyframes portfolio {
    from{
     width: 25%;

    }
    to{
       width: 100%;
    }
    
}
nav{
    display: flex;
    width: 100;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid;
    border-color:sienna;
    position: sticky;
    top: 0;
    z-index:100;
    background-color:blanchedalmond;
}
#img2 img{
    display: inline-block;
    width: 300px;
   margin-left:200px ;
    border-radius: 300px;
}
/* #img1 img{
    margin-left: 33%;
    margin-bottom: 30px;
    height: 200px;

} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: sienna;
    font-weight: 100;
    cursor: grabbing;
}
nav ul li a:hover{
    color:blue;

}
#p2{
   
    display: inline-block;
    width: 600px;
    margin: 0% 20%;
    color:whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size:x-large;
}
.container1{
    display: flex;
    margin-top: 100px;
    vertical-align:middle;

}
#p3{
     width: 400px;
    margin-left: 15%;
    color:whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size:x-large;
   
}
#img3 img{
     width:350px; 
     margin-left:300px; 
     border-radius: 300px;
    
}
.container2{
    display: flex;
    vertical-align:bottom;
     height: 300px;

}
#skills
{
    margin-top: 20px;
     margin-left: 43%;
     height: 100px;
     color: thistle;
}    
#form{
    font-family: 'Rubik', sans-serif;
    padding-left: 40%;
    font-weight: bold;
    }

.contactform{
     padding: 10px 0px;
     font-size: larger;
     color: seashell;
    
     } 
.contactform input{
    text-indent: 20%;
} 
#feedback{
    width: 450px;
}    
button:hover{
    color:tomato;
}


footer{
    margin-left: 45%;
    height: 50px;
}
footer i{
    color: ghostwhite;
}
footer i:hover{
    color:skyblue;
}



